.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(243, 247, 247, 1);
  .sessionCont {
    #actives {
      width: 100%;
      height: 1296rpx;
    }
    #banners {
      height: 400rpx;
      width: 100%;
    }
    .nav {
      width: 100%;
      height: 92rpx;
      line-height: 92px;
      display: flex;
      white-space: nowrap;
      border-bottom: 1px solid rgb(236, 236, 236);
      justify-content: space-between
    }
  
    // .nav .title {
    //   color: #fc5d7b;
    //   height: 80rpx;
    //   line-height: 80rpx;
    //   background: #fff;
    //   padding-left: 20rpx;
    //   margin: 0 20rpx;
    //   flex: 1;
    //   display: inline-block;
    // }
  
    .active {
      color: #f00;
      border-bottom: 4rpx solid #f00;
    }
    .title {
      color: #fc5d7b;
      height: 80rpx;
      line-height: 80rpx;
      background: #fff;
      padding-left: 20rpx;
    }
  }
  .listWrap {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    .cake {
      width: 100%;
      display: flex;
      height: 130rpx;
      box-sizing: border-box;
      padding: 0 130rpx;
      justify-content: space-between;
      p {
        width: 300rpx;
        height: 50rpx;
        font-size: 28rpx;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: #484848;
        line-height: 50rpx;
        text-align: center;
        margin-top: 50rpx;
        box-sizing: border-box;
      }
      span {
        width: 14rpx;
        height: 14rpx;
        background: #484848;
        margin: 66rpx 0 0;
        transform: rotate(45deg);
      }
    }
    .hot {
      width: 100%;
     
    }
  }
}
